.button{
    outline: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: var(--fontColor);
    font-size: 0.6em;
    width: 50px;
}
@media only screen and (min-width: 330px) {
    .button{
        font-size: 1em;
        width: 80px;
    }
}
@media only screen and (min-width: 600px) {
    .button{
        font-size: 1.05em;
    }
}
