.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.textBlock, .pictureAndRepoBlock{
    width: 100%;
}
.pictureAndRepoBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgContainer{
    width: 200px;
    height: 200px;
}
.title{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}
.iconButton{
    border:none;
    outline: none;
    background: none;
    height: 40px;
    width: 40px;
    margin: 0 10px;
}
.textBlock{
    box-sizing: border-box;
    width: 100%;
}
.repoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .textBlock{
        width: 60%;
        padding: 15px;
        margin-left: 30px
    }
    .pictureAndRepoBlock{
        width: 40%;
        padding: 15px;
    }
    .title{
        text-align: start;
        font-size: 2.3em;
    
    }
    .imgContainer{
        width: 350px;
        height: 350px;
    }
}

