.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    color: var(--fontColor);
    font-family: var(--font);
    background-image: var(--bgImage);
    background-color: var(--bgColor);
}
@media only screen and (min-width: 1200px) {
    .container{
       align-items: center;
    }
}
