.container{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: var(--bgColorDark);
    height: 35px;
    width: 120px;
    border-radius: var(--borderRadius);
    border: 2px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    color: var(--fontColor);
    outline: none;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}